// $color = lightpink
// $activecolor = rgba( lightpink  0.8 )
// $bordercolor = rgba( #00CED1  0.3 )
// $activecolortp = rgba( lightpink  0.1 )

$color = #00CED1
$activecolor = rgba( #00CED1  0.8 )
$bordercolor = rgba( #00CED1  0.3 )
$activecolortp = rgba( #00CED1  0.1 )

$white = #fff
$bgcolor = #4e4e4e